<style>
	.mono { @include ff--code; }
</style>

<div class="table-responsive">
	<table class="table">
		<tbody>
			<thead></thead>
			<tr>
				<td>Along with highly-frequent participation and high assignment scores, the student demonstrates an above-average knowledge of course materials and command of interpreting skills.</td>
				<td>Along with mostly-frequent participation and good assignment scores, the student demonstrates a satisfactory knowledge of course materials and command of interpreting skills.</td>
				<td>Along with semi-frequent participation and average assignment scores, the student demonstrates an average knowledge of course materials and command of interpreting skills.</td>
				<td>Along with minimal participation, the student demonstrates a substandard knowledge of course materials and command of interpreting skills..</td>
				<td>Along with low-to-no participation, the student demonstrates an unsatisfactory knowledge of course materials and command of interpreting skills.</td>
			</tr>
			<tr>
				<td class="mono">A 100–93</td>
				<td class="mono">B+ 89–87</td>
				<td class="mono">C+ 79–77</td>
				<td class="mono">D+ 69–67</td>
				<td class="mono">E 59–0</td>
			</tr>
			<tr class="mono">
				<td class="mono">A- 92–90</td>
				<td class="mono">B 86–83</td>
				<td class="mono">C 76–73</td>
				<td class="mono">D 66–63</td>
				<td class="mono"></td>
			</tr>
			<tr class="mono">
				<td class="mono"></td>
				<td class="mono">B- 82–80</td>
				<td class="mono">C- 72–70</td>
				<td class="mono">D- 62–60</td>
				<td class="mono"></td>
			</tr>
		</tbody>
	</table>
</div>