<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
		<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
		<link href='https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,500,500i,600,600i&display=swap' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=IBM+Plex+Serif:400,500&display=swap' rel='stylesheet' type='text/css'>
		<link href="https://fonts.googleapis.com/css?family=Livvic:400,600,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
		<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
		<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

		<!-- Global site tag (gtag.js) - Google Analytics, specifically for ASL3370-fa19 -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-5QBJDPNMMY"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-5QBJDPNMMY');
		</script>
	</head>
