<style type="text/css">
	.mono {	font-family: 'IBM Plex Mono', monospace; }
</style>

<div class="table-responsive">
	<table class="table">
		<tbody>
			<thead></thead>
			<tr>
				<td class="mono">A 100–93</td>
				<td class="mono">B+ 89–87</td>
				<td class="mono">C+ 79–77</td>
				<td class="mono">D+ 69–67</td>
			</tr>
			<tr>
				<td>Comes prepared to each class having read all required materials (and may even reference additional non-required materials) and is knowledgeable about discussion unit concepts (preparedness). Actively and substantially participates in-class discussions, class presentations, interpreting work, contributes original insights (interaction/involvement). Provides and takes appropriate non-evaluative feedback (Witter-Merrithew, Colonomos, et al) to/from classmates (attitude/feedback)</td>
				<td>Comes mostly prepared to almost every class having read several (but not all of the) required materials and is fairly knowledgeable about discussion unit concepts. Participates mostly in-class discussions, class presentations, and interpreting work. Provides mostly appropriate non-evaluative feedback to/from classmates.</td>
				<td>Comes to most classes having read some of the required materials and kind of knows about the discussion unit concepts. Passively participates in-class discussions, class presentations, and interpreting work every once in a while. Gives mixed evaluative and non-evaluative feedback to/from classmates.</td>
				<td>Comes to some classes not really reading much of the required materials nor seems knowledgeable about discussion units. Rarely and passively contributes to class activity. Continues to give evaluative feedback to/from classmates.</td>
			</tr>
		</tbody>
	</table>
</div>