/* ==========================================================================
   Mixins
   ========================================================================== */

// Clearfix
@mixin clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

// Font families
@mixin ff--serif($font-weight: normal) {
    font-family: 'Open Sans', 'IBM Plex Serif', 'Palatino Linotype', Palatino, Georgia, serif;
    font-weight: $font-weight;
}
@mixin ff--sans-serif($font-weight: normal) {
    font-family: 'Open Sans', 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: $font-weight;
}

@mixin ff--code {
    font-family: 'Open Sans', 'IBM Plex Mono', monospace;
}

// Font sizing
@mixin fs--title {
    line-height: 1.5;
    font-size: 4.8rem; // 48px
}

@mixin fs--heading-1 {
    line-height: 1.3;
    font-size: 3.2rem; // 32px
}

@mixin fs--heading-2 {
    line-height: 1.25;
    font-size: 2.4rem; // 24px
    border: 1px solid $c-base__3; border-width: 1px 0 0 0; marqqgin: 1em 0; padding: 1em 0 0 0;
}

@mixin fs--heading-3 {
    line-height: 1.3;
    font-size: 2rem; // 20px
    border: 1px solid $c-base__3; border-width: 1px 0 0 0; margin: 1em 0 0 0; padding: 1em 0 0 0;
}

@mixin fs--heading-4 {
    line-height: 1.6;
    font-size: 1.7rem; // 17px
}

@mixin fs--body {
    line-height: 1.5;
    font-size: 1.6rem; // 16px
}

@mixin fs--meta {
    line-height: 1.5;
    font-size: 1.6rem; // 16px
}

@mixin fs--caption {
    line-height: 1;
    font-size: 1.6rem; // 16px
}

@mixin fs--code {
    font-size: 1.4rem; // 14px
    line-height: 1.5;
}

// Visually hide content
@mixin visually-hidden {
    position: absolute;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

