/* ==========================================================================
   Variables
   ========================================================================== */

$c-base__03: rgba(12, 43, 53,1);
$c-base__02: rgba(27, 47, 94,1);
$c-base__01: rgba(73, 90, 130,1);
$c-base__00: rgba(104, 122, 130,1);
$c-base__0: rgba(134, 147, 149,1);
$c-base__1: rgba(150, 160, 160,1);
$c-base__2: rgba(236, 229, 212,1);
$c-base__3: rgba(233, 233, 233,1);
$c-base__4: rgba(253, 253, 253,1);

$c-accent__blue: rgba(0, 104, 249,1);
$c-accent__darkblue: rgba(0, 41, 249,1);
$c-accent__green: rgba(116, 204, 81,1);
$c-accent__teal: rgba(23, 162, 184),1;
$c-accent__yellow: rgba(255, 193, 7,1);
$c-accent__highlight: rgba(255, 255, 238,1);
$c-accent__red: rgba(220, 53, 69,1);


// Breakpoints
$bp__sm: 45rem; // 450px

// Misc
$m-border: 1px solid $c-base__2;
