/* ==========================================================================
   Layout
   ========================================================================== */

.u-container {
    max-width: 72rem; // 620px
    margin-right: auto;
    margin-left: auto;
    padding-top: 10rem; // 100px
    padding-right: 3rem; // 10px
    padding-left: 3rem; // 10px
}

table {
    padding: 0;
    margin: 1em 0 0 0;
    width: 100%;
    disqqplay: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

table tr {
	border: 1px solid $c-base__3; 
	border-width: 1px 0 0 0;
	margin: 0;
    padding: 0;
    vertical-align: top;
}

table tr:nth-child(2n) {
	background-color: rgba(0,0,0,.02);
}

table tr th {
    font-weight: 500;
    background: $c-accent__blue;
    color: $c-base__3 !important;
	border: 1px solid $c-base__3; 
	border-width: 1px 0 0 0;
	text-align: left;
	margin: 0;
	padding: .5em;
	font-size: 85%;
}

table tr th a { color: $c-base__3}

table tr td {
	border: 1px solid $c-base__3; 
	border-width: 1px 0 0 0;
	text-align: left;
	margin: 0;
	padding: .5em;
}

table tr th :first-child,
table tr td :first-child {
	margin-top: 0;
}

table tr th :last-child,
table tr td :last-child {
	margin-bottom: 0;
}